body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2.6em;
    line-height: 2.4em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    border-bottom: 1px solid #bbb;
    color: #136F63;
    margin-bottom: 10px;
}

header, footer {
    margin: 1.25em auto;
    padding: .5em;
    max-width: 85%;
}

header, footer, footer a {
    background-color: #0068bd;
    color: #f5f5f5;
    text-align: center;
    border-radius: 25px;
}

header img {
    /* max-width: %; */
    float: right;
    border-radius: 1px;
    margin: 0.75em;
}

header{
    padding: 1.6em;
}

footer {
    font-size: 1.1em;
    padding: .6em;
}

a {
    color: #009ec5;
}

ul {
    margin-bottom: 0%;
}

li {
    list-style-type: none;
    /* float: left; */
}

.highlight {
    color: #ffe70e
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}


@media screen and (max-width: 768px) {
    header, footer {
        margin: 1.25em auto;
        padding: .5em;
        max-width: 95%;
    }

    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        text-align: center;
      }
    
    .grid-item-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .grid-item-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    .grid-item-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 7;
    }
  }

  @media screen and (min-width : 768px) and (max-width: 992px) {
    header, footer {
        margin: 1.25em;
        padding: .5em;
        max-width: 90%;
    }

    main {
        margin: 1.25em;
        max-width: 70%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        text-align: center;
      }
    
    .grid-item-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .grid-item-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .grid-item-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
  }

